
<ion-header>

  <ion-navbar>
    <ion-title>Playing Some Audio File</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of listaAudios">
      {{ item.pt_title }}
      <ion-icon name="play" (click)="play(item)"></ion-icon> &nbsp;&nbsp;
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="showFooter">
  <div padding>
    {{ tocando.pt_title }} 
    &nbsp;&nbsp; | &nbsp;&nbsp;
    {{ currentTime }} / {{ calculateTime(tocando.length) }}
    &nbsp;&nbsp; 
    <p text-align="center">
      <ion-icon name="skip-backward" (click)="prev(tocando)"></ion-icon> &nbsp;&nbsp;
      <ion-icon *ngIf="showPlayButton" name="play" (click)="play(tocando)"></ion-icon> &nbsp;&nbsp;
      <ion-icon *ngIf="!showPlayButton" name="pause" (click)="pause(tocando)"></ion-icon> &nbsp;&nbsp;
      <ion-icon name="skip-forward" (click)="next(tocando)"></ion-icon> &nbsp;&nbsp;
    </p>
  </div>
</ion-footer>
