<!--
  Generated template for the SeventhPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sétima Aula</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item-group>
    <ion-item-divider color="danger">Sports</ion-item-divider>
    <ion-item>Football</ion-item>
    <ion-item>Basquetball</ion-item>
    <ion-item>Boxing</ion-item>

    <ion-item-divider color="primary">Food</ion-item-divider>
    <ion-item>Peanut</ion-item>
    <ion-item>Rice</ion-item>

    <ion-list-header color="secondary">
      Websites
    </ion-list-header>
    <div *ngIf="websites">
      <ion-item><ion-icon item-start name="planet"></ion-icon> Matxessa.com</ion-item>
      <ion-item><ion-icon item-end name="microphone"></ion-icon>RumoDigital.net</ion-item>
      <ion-item>Cotus.co.mz</ion-item>
      <ion-item><ion-avatar item-start><ion-icon name="book"></ion-icon></ion-avatar>AlexMutane.com/ebooks</ion-item>
    </div>
    <div *ngIf="!websites">
      No websites to show...
    </div>
    

    <ion-item-divider color="dark" (click)="abrirOitavaAula(parameter)">Next Page</ion-item-divider>
  </ion-item-group>
</ion-content>
